@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Saiba;
  src: url(./assets/font/saiba/SAIBA-45.ttf);
}
@font-face {
  font-family: Saiba-Outline;
  src: url(./assets/font/saiba/SAIBA-45-Outline.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

.search-suggestions {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.search-suggestions::-webkit-scrollbar {
  display: none;
}
.gallery .slick-center {
  /* margin: auto 32px; */
  scale: 1 !important;
  translate: 20px;
}
.gallery .slick-slide {
  scale: 0.7;
  translate: 0;
  /* transform: translate3d(250px, 0, 0); */
  transform-origin: center;
  transition-timing-function: ease-in-out;
  transition: all 2.5s;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
